<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading text-center">
        <strong>人力资源新闻动态</strong>
      </div>
      <!-- Table -->
      <table class="table table-striped">
        <tbody>
        <tr ng-repeat="n in pageOption.dataToShow">
          <td><a href="" ng-click="getMsg(n.date, n.news)" onclick="$('#informationMsg').modal('show')">{{n.heading}}</a></td>
          <td>{{formatDate(n.date)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 显示人力资源与就业服务政策信息对话框 -->
  <info-dialog><div ng-bind-html="information.content"></div></info-dialog>

  <!-- 自动分页显示 -->
  <nav class="col-sm-offset-7" ng-show="pageOption.pages > 1">
    <ul class="pagination">
      <li><a ng-click="pageOption.previousList()" href="">«</a></li>
      <li ng-class="pageOption.active(p)" ng-click="pageOption.select(p)" ng-repeat="p in pageOption.pageList"><a href="">{{p}}</a></li>
      <li><a ng-click="pageOption.nextList()" href="">»</a></li>
    </ul>
  </nav>

  <!--  显示信息内容的对话框  -->
  <div class="modal fade" id="postNews" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h2 class="modal-title text-center"><strong>人力资源与就业服务政策</strong></h2>
          <div class="text-center">发布日期：{{postDate}}</div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div id="newsMessage"></div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>