<div class="container">
  <div class="col-sm-12">

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading text-center">
        <strong>人力资源与就业服务政策</strong>
      </div>
      <!-- Table -->
      <table class="table table-striped">
        <tbody>

        <tr ng-repeat="p in page.params.itemList">

          <td>
            <div>{{$index + page.params.baseNumber}}</div>
          </td>

          <td><a href="" ng-click="getMsg(p._id)" onclick="$('#informationMsg').modal('show')">{{p.heading}}</a></td>
          <td>{{formatDate(p.date)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 显示显示信息内容的对话框 -->
  <div info-dialog><div ng-bind-html="information.content"></div></div>

  <!-- 自动分页显示 -->
  <nav class="col-sm-offset-7" ng-show="page.params.pageList.length > 1">
    <ul class="pagination">
      <li><a ng-click="page.previousNavBar()" href="">«</a></li>
      <li ng-class="page.active(p, page.params.curPage)" ng-click="queryItems(p)" ng-repeat="p in page.params.pageList"><a href="" ng-bind="p"></a></li>
      <li><a ng-click="page.nextNavBar()" href="">»</a></li>
    </ul>
  </nav>

</div>