<div class="container">
  <div class="col-sm-12">

    <div class="col-sm-12"  ng-show="manage.params.register">
      <div class="col-sm-8 col-lg-9">
        <h3 class="page-header"><span class="alarm"><strong>（管理模式）</strong></span></h3>
      </div>
      <div class="col-md-4 col-lg-3 management">
        <a ng-click="gotoPanel()" class="btn btn-default"><i class="fa fa-th fa-2x"></i><br>管理面板</a>&nbsp;
        <a ng-click="logout()" class="btn btn-default"><i class="fa fa-sign-out fa-2x"></i><br>退出管理</a><br>&nbsp;
      </div>
    </div>
    <div>&nbsp;</div>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading text-center">
        <strong>人力资源与就业服务政策</strong>
      </div>
      <!-- Table -->
      <table class="table table-striped">
        <tbody>
        <tr ng-repeat="p in pageOption.dataToShow">
          <td><a href="" ng-click="getMsg(p.date)" onclick="$('#informationMsg').modal('show')">{{p.heading}}</a></td>
          <td>{{formatDate(p.date)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 显示人力资源与就业服务政策信息对话框 -->
  <div info-dialog><div ng-bind-html="information.content"></div></div>

  <!-- 自动分页显示 -->
  <nav class="col-sm-offset-7" ng-show="pageOption.pages > 1">
    <ul class="pagination">
      <li><a ng-click="pageOption.previousList()" href="">«</a></li>
      <li ng-class="pageOption.active(p)" ng-click="pageOption.select(p)" ng-repeat="p in pageOption.pageList"><a href="">{{p}}</a></li>
      <li><a ng-click="pageOption.nextList()" href="">»</a></li>
    </ul>
  </nav>

  <!--  显示信息内容的对话框  -->
  <div class="modal fade" id="postPolicy" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h2 class="modal-title text-center"><strong>人力资源与就业服务政策</strong></h2>
          <div class="text-center">发布日期：{{postDate}}</div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div id="policyMessage"></div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>