<div class="container">
  <h3 class="page-header">企业信息查询</h3>

  <form class="form-horizontal" name="queryCondition" role="form">
    <div class="form-group col-sm-12">
      <label for="name" class="col-sm-2 control-label">单位名称</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="name" ng-model="job.name" id="name" placeholder="单位或企业名称">
      </div>
      <label for="address" class="col-sm-2 control-label">单位地址</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="address" ng-model="job.address" id="address" placeholder="单位或企业地址">
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label for="type" class="col-sm-2 control-label">单位类型</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="job.type" id="type">
          <option value="">不限</option>
          <option>企业</option>
          <option>机关</option>
          <option>事业单位</option>
          <option>社会团体</option>
          <option>个体工商户</option>
        </select>
      </div>
      <label for="scale" class="col-sm-2 control-label">单位规模</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="job.scale" id="scale">
          <option value="">不限</option>
          <option value="tiny">10人以内</option>
          <option value="small">10到100人</option>
          <option value="middle">100到1000人</option>
          <option value="large">1000到10000人</option>
          <option value="huge">10000人以上</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button ng-click="searchOrganization()" class="btn btn-primary btn-block">查&nbsp;&nbsp;询</button>
      </div>
    </div>
  </form>

  <div class="row"></div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div ng-show="orgs" class="panel-heading text-center">企事业单位信息列表</div>
    <!-- Table -->
    <table class="table table-striped table-bordered">
      <thead></thead>
      <tr ng-repeat="o in pageOption.dataToShow | filter: globalFilterKey">
        <td><div class="index">{{$index + pageOption.baseNumber}}</div></td>
        <td>
          <table class="table embedded">
            <tr>
              <td class="col-sm-4"><strong>单位名称： </strong>{{o.name}}</td>
              <td class="col-sm-4"><strong>单位地址： </strong>{{o.address}}</td>
              <td class="col-sm-4"><button role="button" class="btn btn-xs btn-primary">单位简介</button></td>
            </tr>
            <tr>
              <td><strong>联系电话： </strong>{{o.phone}}</td>
              <td><strong>其他联系方式： </strong>{{o.email}}</td>
              <td><strong>单位规模： </strong>{{o.staffs}}</td>
            </tr>
            <tr>
              <td><strong>单位类型： </strong>{{o.type}}</td>
              <td><strong>经济类型： </strong>{{o.economicType}}</td>
              <td><strong>所属行业： </strong>{{o.jobForm}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </div>

  <nav class="col-sm-offset-7" ng-show="pageOption.pages > 1">
    <ul class="pagination">
      <li><a ng-click="pageOption.previousList()" href="">«</a></li>
      <li ng-class="pageOption.active(p)" ng-click="pageOption.select(p)" ng-repeat="p in pageOption.pageList"><a href="">{{p}}</a></li>
      <!--
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      -->
      <li><a ng-click="pageOption.nextList()" href="">»</a></li>
    </ul>
  </nav>

</div>