<div class="container">
  <div class="col-sm-8 col-lg-9">
    <h3 class="page-header">企事业单位招聘信息查询<span class="alarm" ng-show="manage"><strong>（管理模式）</strong></span></h3>
  </div>
  <div class="col-md-4 col-lg-3 management" ng-show="manage">
    <a ng-click="gotoPanel()" class="btn btn-default"><i class="fa fa-th fa-2x"></i><br>管理面板</a>&nbsp;
    <a ng-click="logout()" class="btn btn-default"><i class="fa fa-sign-out fa-2x"></i><br>退出管理</a><br>&nbsp;
  </div>


  <form class="form-horizontal" name="queryCondition" role="form">
    <div class="form-group col-sm-12">
      <label for="name" class="col-sm-2 control-label">单位名称</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="name" ng-model="job.name" id="name" placeholder="单位或企业名称">
      </div>
      <label for="position" class="col-sm-2 control-label">职位名称</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="position" ng-model="job.position" id="position" placeholder="工种或职位名称">
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label for="education" class="col-sm-2 control-label">学历要求</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="job.education" id="education">
          <option value="">不限</option>
          <option value="1">小学</option>
          <option value="2">初中</option>
          <option value="3">高中</option>
          <option value="4">中专中技</option>
          <option value="5">大专</option>
          <option value="6">本科</option>
        </select>
      </div>
      <label for="salary" class="col-sm-2 control-label">工资待遇</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="job.salary" id="salary">
          <option value="">不限</option>
          <option value="5">月薪10000 以上</option>
          <option value="4">月薪5000 - 10000</option>
          <option value="3">月薪3000 - 5000</option>
          <option value="2">月薪1500 - 3000</option>
          <option value="1">月薪1500 以下</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button ng-click="queryJob()" class="btn btn-primary btn-block">重 新 查 询</button>
      </div>
    </div>

  </form>

  <div class="row"></div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">企业单位招聘信息列表</div>
    <!-- Table -->
    <table class="table table-striped table-bordered">
      <thead></thead>
      <tr ng-show="manage">
        <td class="index-col">
          <div id="select-all" ng-click="selectAll(selectedAll)">
            <i ng-show="selectedAll" class="fa fa-check-square-o"></i>
            <i ng-hide="selectedAll" class="fa fa-square-o"></i>
          </div>
        </td>
        <td>
          <div class="col-sm-2" ng-show="manage">
            <a ng-click="removeSelected()" class="btn btn-danger"><i class="fa fa-times"></i> 删除选中</a>
          </div>
          <div class="input-group col-sm-6 col-sm-offset-2">
            <div class="input-group-addon">快速过滤</div>
            <input class="form-control" ng-model="quickFilter" type="text" placeholder="输入包含的关键词">
          </div>
      </td>
      </tr>
      <tr ng-repeat="job in pageOption.dataToShow | filter: quickFilter">
        <td class="index-col">
          <div ng-show="manage">
            <div><i ng-show="removalList[$index]" ng-click="reverse($index)" class="fa fa-check-square-o"></i></div>
            <div><i ng-hide="removalList[$index]" ng-click="reverse($index)" class="fa fa-square-o"></i></div>
            <div><i ng-click="removeItem($index)" class="fa fa-times-circle-o red"></i></div>
          </div>
          <div ng-hide="manage">&nbsp;<br>&nbsp;<br></div>
          <div class="index">{{$index + pageOption.baseNumber}}</div>
        </td>
        <td>
          <table class="table embedded">
            <tr>
              <td class="col-sm-4"><strong>单位名称： </strong>{{job.name}}</td>
              <td><strong>单位地址： </strong>{{job.address}}</td>
              <td><button role="button" ng-disabled="!job.introductionId" ng-click="getMsg(job.introductionId)" onclick="$('#informationMsg').modal('show')" class="btn btn-xs btn-primary">单位简介</button></td>
            </tr>
            <tr>
              <td><strong>联系电话： </strong>{{job.phone}}</td>
              <td><strong>其他联系方式： </strong>{{job.contact}}</td>
              <td><strong>发布日期： </strong>{{getDate(job.date)}}</td>
            </tr>
            <tr>
              <td><strong>职位名称： </strong>{{job.position}}</td>
              <td><strong>学历要求： </strong>{{job.education}}</td>
              <td class="col-sm-3"><strong>月薪（元）： </strong>{{parseSalary(job.salary)}}</td>
            </tr>
            <tr>
              <td colspan="3"><div><strong>职位描述： </strong></div>
                <div class="col-sm-offset-1 col-sm-10">{{job.description}}</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </div>

  <!-- 显示企事业单位介绍信息对话框 -->
  <div info-dialog><div ng-bind-html="information.content"></div></div>

  <nav class="col-sm-offset-7" ng-show="pageOption.pages > 1">
    <ul class="pagination">
      <li><a ng-click="pageOption.previousList()" href="">«</a></li>
      <li ng-class="pageOption.active(p)" ng-click="pageOption.select(p)" ng-repeat="p in pageOption.pageList"><a href="" ng-bind="p"></a></li>
      <!--
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      -->
      <li><a ng-click="pageOption.nextList()" href="">»</a></li>
    </ul>
  </nav>

</div>