<div class="container">
  <div class="col-sm-8 col-lg-9">
    <h3 class="page-header">人才求职信息查询<span class="alarm" ng-show="manage.params.register"><strong>（管理模式）</strong></span></h3>
  </div>
  <div class="col-md-4 col-lg-3 management" ng-show="manage.params.register">
    <a ng-click="manage.gotoPanel()" class="btn btn-default"><i class="fa fa-th fa-2x"></i><br>管理面板</a>&nbsp;
    <a ng-click="manage.logout()" class="btn btn-default"><i class="fa fa-sign-out fa-2x"></i><br>退出管理</a><br>&nbsp;
  </div>

  <form class="form-horizontal" name="queryCondition" role="form">

    <div class="form-group col-sm-12">
      <label class="col-sm-2 control-label">年龄</label>
      <div class="form-group col-sm-5">
        <label for="ageFrom" class="col-sm-1 control-label">从</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" name="ageFrom" ng-model="manpower.ageFrom" id="ageFrom" placeholder="数字">
        </div>
        <label for="ageTo" class="col-sm-1 control-label">到</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" name="ageTo" ng-model="manpower.ageTo" id="ageTo" placeholder="数字">
        </div>
      </div>
      <label for="gender" class="col-sm-2 control-label">性别</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="manpower.gender" id="gender">
          <option value="">不限</option>
          <option>男</option>
          <option>女</option>
        </select>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label for="salary" class="col-sm-2 control-label">收入期望</label>
      <div class="form-group col-sm-4">
        <select class="form-control" ng-model="manpower.salary" id="salary">
          <option value="">不限</option>
          <option value="5">10000 以上</option>
          <option value="4">5000 - 10000</option>
          <option value="3">3000 - 5000</option>
          <option value="2">1500 - 3000</option>
          <option value="1">1500 以下</option>
        </select>
      </div>

      <label for="education" class="col-sm-2 col-sm-offset-1 control-label">学历</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="manpower.education" id="education">
          <option value="">不限</option>
          <option value="5">本科及以上</option>
          <option value="4">大专及以上</option>
          <option value="3">中专中技及以上</option>
          <option value="2">高中及以上</option>
          <option value="1">初中及以上</option>
        </select>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label for="subjectName" class="col-sm-2 control-label">工作经验</label>
      <div class="form-group col-sm-4">
        <input type="text" class="form-control" name="subjectName" ng-model="manpower.subjectName" id="subjectName" placeholder="从事过的工作类型">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button ng-click="queryItems(1)" class="btn btn-primary btn-block">查&nbsp;&nbsp;询</button>
      </div>
    </div>
  </form>

  <!--  企业名称与机构代码校验对话框  -->
  <div class="modal fade" id="customerChecker" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content search">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title text-center"><strong>企事业单位身份验证</strong></h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="col-sm-10 col-sm-offset-1">
              <p>必须是本辖区内的单位才允许查询，请输入下述信息验证身份。</p>
            </div>
            <div class="form-group col-sm-8 col-sm-offset-2">
              <label for="orgName">企事业单位名称</label>
              <input type="text" class="form-control" name="orgName" ng-model="org.name" id="orgName" placeholder="输入工商注册的单位名称">
            </div>
            <div class="form-group col-sm-8 col-sm-offset-2">
              <label for="orgCode">组织机构代码</label>
              <input type="text" class="form-control" name="orgCode" ng-model="org.code" id="orgCode" placeholder="输入工商注册的组织机构代码">
            </div>
            <div class="form-group col-xs-4 col-xs-offset-1">
              <button type="button" class="btn btn-success btn-block" data-dismiss="modal">取 消</button>
            </div>
            <div class="form-group col-xs-4 col-xs-offset-2">
              <button class="btn btn-block btn-primary" ng-click="checkCustomer()" data-dismiss="modal">确 认</button>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
              <p><strong>注意：</strong>未登记相关信息的企事业单位，请携带相关证件到区人社局下属的就业局进行登记。</p>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="panel panel-default" ng-show="showTable">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">人才求职信息列表</div>
    <!-- Table -->
    <table class="table table-striped table-bordered">
      <thead></thead>
      <tr ng-show="manage.params.register">
        <td class="index-col">
          <div id="select-all" ng-click="manage.selectAll(page.params.itemList)">
            <i ng-show="manage.params.selectedAll" class="fa fa-check-square-o"></i>
            <i ng-hide="manage.params.selectedAll" class="fa fa-square-o"></i>
          </div>
        </td>
        <td>
          <div class="col-sm-2">
            <a ng-click="removeItems()" class="btn btn-danger"><i class="fa fa-times"></i> 删除选中</a>
          </div>
          <div class="input-group col-sm-6 col-sm-offset-2">
            <div class="input-group-addon">快速过滤</div>
            <input class="form-control" ng-model="quickFilter" type="text" placeholder="输入包含的关键词">
          </div>
        </td>
      </tr>

      <!-- 开始显示表格主题内容 -->
      <tr ng-repeat="h in page.params.itemList">
        <td class="index-col">
          <div ng-show="manage.params.register">
            <div><i ng-show="manage.params.removalList[$index]" ng-click="manage.reverse($index)" class="fa fa-check-square-o"></i></div>
            <div><i ng-hide="manage.params.removalList[$index]" ng-click="manage.reverse($index)" class="fa fa-square-o"></i></div>
            <div><i ng-click="removeItems(h)" class="fa fa-times-circle-o red"></i></div>
          </div>
          <div ng-hide="manage.params.register">&nbsp;<br>&nbsp;<br></div>
          <div class="index">{{$index + page.params.baseNumber}}</div>
        </td>

        <td>
          <table class="table embedded">
            <tr>
              <td class="col-sm-4"><strong>姓名： </strong>{{h.name}}</td>
              <td class="col-sm-4"><strong>性别： </strong>{{h.gender}}</td>
              <td class="col-sm-4"><strong>年龄： </strong>{{h.age}}</td>
            </tr>
            <tr>
              <td><strong>联系电话： </strong>{{h.phone}}</td>
              <td><strong>其他联系方式： </strong>{{h.contact}}</td>
              <td><strong>发布日期： </strong>{{getDate(h.date)}}</td>
            </tr>
            <tr>
              <td><strong>学历： </strong>{{h.education}}</td>
              <td colspan="2" class="col-sm-2"><strong>月薪要求（元）： </strong>{{h.salary || '面议'}}</td>
            </tr>
            <tr>
              <td colspan="3"><div><strong>工作经验： </strong></div>
                <div class="col-sm-offset-1 col-sm-10">{{h.experience}}</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <nav class="col-sm-offset-7" ng-show="page.params.pageList.length > 1 && showTable">
    <ul class="pagination">
      <li><a ng-click="page.previousNavBar()" href="">«</a></li>
      <li ng-class="page.active(p, page.params.curPage)" ng-click="queryItems(p)" ng-repeat="p in page.params.pageList"><a href="" ng-bind="p"></a></li>
      <li><a ng-click="page.nextNavBar()" href="">»</a></li>
    </ul>
  </nav>

  <div class="col-sm-6">
    <dl>
      <dt><span class="alarm">特别提醒：</span></dd>
      <dd>
        本页面的所有信息来源于求职者的独立发布，本平台的运营和管理者不会进一步核实。请查阅者请自行甄别内容，并对自身行为负责。
      </dt>
    </dl>
  </div>

</div>