<div class="container">
  <h3 class="page-header">刊登企业介绍信息</h3>

  <form class="form-horizontal" name="introductionForm" role="form">
    <div class="form-group col-sm-12">
      <label for="name" class="col-sm-2 control-label">单位名称</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="name" ng-model="employer.name" id="name" placeholder="输入单位名称全称">
      </div>
      <label class="control-label remark"><strong>必填，</strong>不能用简称，必须与在工商注册的一致，否则无法通过审核</label>
    </div>
    <div class="form-group col-sm-12">
      <label for="code" class="col-sm-2 control-label">机构代码</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="code" ng-model="employer.code" id="code" placeholder="输入组织机构代码">
      </div>
      <label class="control-label remark"><strong>必填，</strong>组织机构代码必须与在工商注册的一致，否则无法通过审核</label>
    </div>

    <div class="form-group col-sm-12">
      <label for="picture" class="col-sm-2 control-label">宣传图片</label>
      <div class="col-sm-4">
        <input type="file" class="form-control" name="picture" fileread="employer.picture" id="picture">
      </div>
      <label class="control-label remark"><strong>必填，</strong>展示办公场所、车间或产品等等（文件大小不能超过5兆）</label>
    </div>
    <div class="form-group col-sm-12">
      <label for="address" class="col-sm-2 control-label">详细地址</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="address" ng-model="employer.address" id="address" placeholder="输入详细地址">
      </div>
      <label class="control-label remark"><strong>必填，</strong>企业或单位办公地点的详细地址</label>
    </div>

    <div class="form-group col-sm-12">
      <label for="phone" class="col-sm-2 control-label">联系电话</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="phone" ng-model="employer.phone" id="phone" placeholder="可输入多个电话">
      </div>
      <label class="control-label remark"><strong>必填，</strong>请务必填写正确，如有多个号码，可用逗号或空格分开</label>
    </div>
    <div class="form-group col-sm-12">
      <label for="contact" class="col-sm-2 control-label">其他联络方式</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="contact" ng-model="employer.contact" id="contact" placeholder="输入各类联系方式">
      </div>
      <label class="control-label remark">QQ号或邮箱等联系方式，联系方式间用逗号或空格分开</label>
    </div>
    <div class="form-group col-sm-12">
      <label for="overview" class="col-sm-2 control-label">概要介绍</label>
      <div class="col-sm-4">
        <textarea rows="5" class="form-control" name="overview" ng-model="employer.overview" id="overview" placeholder="输入单位简介"></textarea>
      </div>
      <label class="control-label remark"><strong>必填，</strong>请控制字数在100-200之间，多出部分不会显示</label>
    </div>
  </form>

  <div class="col-sm-12"><hr></div>

  <div class="form-group col-sm-12">
    <label class="col-sm-4 control-label">企业或单位详细介绍</label>
    <label class="control-label remark">（在此可以填入对贵单位或企业的详细介绍，甚至插入图片和表格等等）</label>
  </div>

  <!--  在线编辑器插入位置  -->
  <div class="col-sm-12">
    <div id="summernote"></div>
  </div>

  <div class="col-sm-12"><br></div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <button ng-disabled="postDisabled()" class="btn btn-primary btn-block" onclick="$('#postAlertMsg').modal('show')">发&nbsp;&nbsp;布</button>
    </div>
  </div>

  <!--  显示网站法律声明的对话框  -->
  <div class="modal fade" id="postAlertMsg" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h2 class="modal-title text-center"><strong>信息发布协议声明</strong></h2>
        </div>
        <div class="modal-body">
          <div class="container alertMsg">
            <alert-msg></alert-msg>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-sm-4 col-sm-offset-1">
            <button type="button" class="btn btn-success btn-block" data-dismiss="modal">不同意并取消发布</button>
          </div>
          <div class="col-sm-4 col-sm-offset-2">
            <button type="button" ng-click="postMsg()" class="btn btn-primary btn-block" data-dismiss="modal">同意条款并发布</button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="col-sm-12"><br></div>

</div>

<script>
  // 插入在线编辑器
  $(document).ready(function() {
    $('#summernote').summernote({
      height: 300,
      lang: 'zh-CN'   // 默认语言为简体中文
    });
  });
</script>