<div class="container">
  <h3 class="page-header">发布就业新闻动态</h3>

  <form class="form-horizontal" name="newsForm" role="form">
    <div class="form-group col-sm-12">
      <label for="heading" class="col-sm-2 control-label">标题</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="heading" ng-model="news.heading" id="heading" placeholder="输入就业新闻标题">
      </div>
      <label class="control-label remark"><strong>必填</strong></label>
    </div>
    <div class="form-group col-sm-12">
      <label for="source" class="col-sm-2 control-label">信息来源</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="source" ng-model="news.source" id="source" placeholder="输入信息来源出处">
      </div>
    </div>
    <!--
    <div class="form-group col-sm-12">
      <label for="picture" class="col-sm-2 control-label">添加附件</label>
      <div class="col-sm-4">
        <input type="file" class="form-control" name="picture" fileread="policy.picture" id="picture">
      </div>
    </div>
    -->

  </form>

  <div class="col-sm-12"><hr></div>
  <div class="container">
    <div class="form-group col-sm-12">
      <label class="col-sm-2 text-center control-label">正文</label>
      <label class="control-label remark">（在此可以填入正文详细内容，可插入图片和表格等等）</label>
    </div>
  </div>


  <!--  在线编辑器插入位置  -->
  <div class="col-sm-12">
    <div id="summernote"></div>
  </div>

  <div class="col-sm-12"><br></div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <button ng-disabled="0" ng-click="postMsg()" class="btn btn-primary btn-block">发&nbsp;&nbsp;布</button>
    </div>
  </div>


  <div class="col-sm-12"><br></div>

</div>

<script>
  // 插入在线编辑器
  $(document).ready(function() {
    $('#summernote').summernote({
      height: 300,
      lang: 'zh-CN'   // 默认语言为简体中文
    });
  });
</script>