<!-- Main jumbotron for a primary marketing message or call to action
<div class="jumbotron">
    <h1 class="text-center">就业服务交流系统</h1>
    <p>某某就业服务中心承办</p>
    <p>本区域内最专业的就业服务平台；拥有区内最全面的企事业单位信息；拥有区域内最全面的人力资源信息</p>
    <p><a class="btn btn-primary btn-lg" href="#/help/guide" role="button">了解更多 &raquo;</a></p>
</div>
 -->

<!--  显示选择“发布招聘信息”还是“发布应聘信息”的对话框  -->
<div class="modal fade" id="messageOption">
  <div class="modal-dialog">
    <div class="modal-content type">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center"><strong>发布内容类型选择</strong></h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <div class="col-sm-6 col-sm-offset-3">
            <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/message/employee">发布求职信息</a>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/message/employer">发布招聘信息</a>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/etc/introduction">刊登企业介绍</a>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/etc/policy">转载政策法规</a>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/etc/news">发布就业动态</a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
  <!-- Example row of columns -->
  <div class="col-sm-12">
    <div class="col-sm-4">
      <p><a class="veryBig" href="#/message/policy"><i class="fa fa-lightbulb-o"></i> 政策法规 &raquo;</a></p>
      <p>在此查阅国家颁布的劳动就业相关政策或归档，让企业或劳动者在符合相关规定前提下，能够尽可能争取到自己的和法权益。</p>
    </div>
    <div class="col-sm-4">
      <p><a class="veryBig" href="" onclick="$('#searchOption').modal('show')" role="button"><i class="fa fa-search"></i> 信息查询 &raquo;</a></p>
      <p>个人可以对区域内的企业信息或发布的招聘信息进行分类查询，而企业或有独立法人的机构则可查询区域内的人力资源信息。</p>
     </div>
    <div class="col-sm-4">
      <p><a class="veryBig" href="" onclick="$('#messageOption').modal('show')" role="button"><i class="fa fa-comments"></i> 信息发布 &raquo;</a></p>
      <p>个人可发布求职信息，而企业或其他独立法人机构可以发布招聘信息，本站提供免费的网络媒介平台，推动区内劳动就业服务。</p>
    </div>
  </div>

  <div class="col-sm-12"><hr></div>
  <div class="col-sm-12">
    <div class="col-md-12 col-lg-7">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading text-center">
          <strong>人力资源新闻动态</strong>
          <a href="#/message/news" class="btn btn-info btn-xs" role="button"> 更多 &raquo;</a>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tbody>
          <tr ng-repeat="n in news">
            <td><a href="" ng-click="getMsg(n.date, n.news)" onclick="$('#informationMsg').modal('show')">{{n.heading}}</a></td>
            <td class="text-right">{{formatDate(n.date)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 显示人力资源与就业服务政策信息对话框 -->
    <info-dialog><div ng-bind-html="information.content"></div></info-dialog>

    <div class="col-md-12 col-lg-5">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <strong>就业市场动态</strong>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tbody>
          <tr ng-repeat="m in market">
            <td><a href="#/search/job">{{m.name}}</a></td>
            <td>招聘</td>
            <td class="text-right">{{formatDate(m.date)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-4" ng-hide="1">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <strong>系统登录</strong>
        </div>
        <div class="panel-body login">
          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">登录账号</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="输入账号">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">登录密码</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="输入密码">
            </div>
            <div class="form-group">
              <div class="col-sm-6 text-right">
                <p class="help-block">忘记密码？</p>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-block btn-warning">密码找回</button>
              </div>
            </div>
            <div class="col-sm-12"><br></div>

            <div class="col-sm-12">
              <button class="btn btn-block btn-primary btn-lg">登 录</button>
              <button class="btn btn-block btn-success btn-lg">注 册</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <div class="col-sm-12"><hr class="featurette-divider"></div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">辖区内某企业</h2>
      <p class="lead">企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍</p>
      <p class="lead">地址：某某镇某某路某某号</p>
      <p class="lead">电话：0000-12345678</p>
    </div>
    <div class="col-md-5">
      <img class="img-thumbnail featurette-image img-responsive" src="images/11.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-thumbnail featurette-image img-responsive" src="images/12.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">辖区内某社区服务中心</h2>
      <p class="lead">社区服务中心社区服务中心社区服务中心社区服务中心社区服务中心社区服务中心</p>
      <p class="lead">电话：0000-12345678</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">辖区内某社区服务中心</h2>
      <p class="lead">企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍企业介绍</p>
      <p class="lead">电话：0000-12345678</p>
    </div>
    <div class="col-md-5">
      <img class="img-thumbnail featurette-image img-responsive" src="images/13.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div> <!-- /container -->

<div class="container text-center related-site">
  <div class="col-sm-3"><a href="">当地政府网站</a></div>
  <div class="col-sm-3"><a href="">当地直属机关网站</a></div>
  <div class="col-sm-3"><a href="">上级政府人力资源网站</a></div>
  <div class="col-sm-3"><a href="">其他相关网站</a></div>
</div>
