<div class="container">
  <!-- Example row of columns -->
  <div class="col-sm-12">
    <div class="col-sm-4">
      <p><a class="veryBig" href="#/message/policy"><i class="fa fa-star-half-o"></i> 政策法规 &raquo;</a></p>
      <p>在此查阅国家颁布的劳动就业相关政策或归档，让企业或劳动者在符合相关规定前提下，能够尽可能争取到自己的和法权益。</p>
    </div>
    <div class="col-sm-4">
      <p><a class="veryBig" href="" onclick="$('#searchOption').modal('show')" role="button"><i class="fa fa-search"></i> 信息查询 &raquo;</a></p>
      <p>个人可以对区域内的企业信息或发布的招聘信息进行分类查询，而企业或有独立法人的机构则可查询区域内的人力资源信息。</p>
     </div>
    <div class="col-sm-4">
      <p><a class="veryBig" href="" onclick="$('#messageOption').modal('show')" role="button"><i class="fa fa-comments"></i> 信息发布 &raquo;</a></p>
      <p>个人可发布求职信息，而企业或其他独立法人机构可以发布招聘信息，本站提供免费的网络媒介平台，推动区内劳动就业服务。</p>
    </div>
  </div>

  <!--  显示选择“发布招聘信息”或“发布应聘信息”等选项的对话框  -->
  <div class="modal fade" id="messageOption">
    <div class="modal-dialog">
      <div class="modal-content search">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title text-center"><strong>发布内容类型选择</strong></h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="col-sm-6 col-sm-offset-3">
              <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/message/employee">发布求职信息</a>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/message/employer">发布招聘信息</a>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/etc/introduction">刊登企业介绍</a>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <a type="button" class="btn btn-lg btn-primary btn-block" onclick="$('#searchOption').modal('hide');" href="#/etc/suggestion">投诉与建议</a>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="col-sm-12"><hr></div>
  <div class="col-sm-12">
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading text-center">
          <strong>人力资源新闻动态</strong>
          <a href="#/message/news" class="btn btn-info btn-xs" role="button"> 更多 &raquo;</a>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tbody>
          <tr ng-repeat="n in news">
            <td><a href="" ng-click="getMsg(n._id)" onclick="$('#informationMsg').modal('show')">{{n.heading}}</a></td>
            <td class="text-right date">{{formatDate(n.date)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 显示人力资源与就业服务政策信息对话框 -->
    <div info-dialog><div ng-bind-html="information.content"></div></div>

    <div class="col-sm-12 col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <strong>就业市场动态</strong>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tbody>
          <tr ng-repeat="m in market">
            <td><a href="#/search/job">{{m.name}}</a></td>
            <td>招聘</td>
            <td class="text-right date">{{formatDate(m.date)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <div class="row"><div class="col-sm-12"><hr class="featurette-divider"></div></div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><span ng-bind="orgInfo[0].name">aaa</span></h2>
      <p class="lead"><strong>简介：</strong><span ng-bind="orgInfo[0].overview"></span></p>
      <p class="lead"><strong>地址：</strong><span ng-bind="orgInfo[0].address"></span></p>
      <p class="lead"><strong>电话：</strong><span ng-bind="orgInfo[0].phone"></span></p>
    </div>
    <div class="col-md-5">
      <img class="img-thumbnail featurette-image img-responsive" ng-src="/picture/{{orgInfo[0].date + orgInfo[0].type}}" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-thumbnail featurette-image img-responsive" ng-src="/picture/{{orgInfo[1].date}}" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading"><span ng-bind="orgInfo[1].name"></span></h2>
      <p class="lead"><strong>简介：</strong><span ng-bind="orgInfo[1].overview"></span></p>
      <p class="lead"><strong>地址：</strong><span ng-bind="orgInfo[1].address"></span></p>
      <p class="lead"><strong>电话：</strong><span ng-bind="orgInfo[1].phone"></span></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><span ng-bind="orgInfo[2].name">aaa</span></h2>
      <p class="lead"><strong>简介：</strong><span ng-bind="orgInfo[2].overview"></span></p>
      <p class="lead"><strong>地址：</strong><span ng-bind="orgInfo[2].address"></span></p>
      <p class="lead"><strong>电话：</strong><span ng-bind="orgInfo[2].phone"></span></p>
    </div>
    <div class="col-md-5">
      <img class="img-thumbnail featurette-image img-responsive" ng-src="/picture/{{orgInfo[2].date}}" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div> <!-- /container -->

<div class="related-site">
  <div class="container text-center">
    <div class="col-sm-3" ng-repeat="l in auxInfo.links">
      <a href="{{l.link}}" ng-bind="l.name"></a></div>
  </div>
</div>