<div class="container">
  <div class="col-sm-8 col-lg-9">
    <h3 class="page-header">刊登乡镇/社区/村服务中心信息<span class="alarm"><strong>（管理模式）</strong></span></h3>
  </div>
  <div class="col-md-4 col-lg-3 management">
    <a href="#/users/panel" class="btn btn-default"><i class="fa fa-th fa-2x"></i><br>管理面板</a>&nbsp;
    <a ng-click="logout()" class="btn btn-default"><i class="fa fa-sign-out fa-2x"></i><br>退出管理</a><br>&nbsp;
  </div>

  <form class="form-horizontal" name="queryCondition" role="form">
    <div class="form-group col-sm-12">
      <label for="name" class="col-sm-2 control-label">名称</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="name" ng-model="community.name" id="name" placeholder="输入单位名称全称">
      </div>
      <label class="control-label remark"><strong>必填</strong></label>
    </div>
    <div class="form-group col-sm-12">
      <label for="name" class="col-sm-2 control-label">行政区代码</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="name" ng-model="community.districtId" id="districtId" placeholder="输入单位名称全称">
      </div>
      <label class="control-label remark"><strong>必填</strong></label>
    </div>

    <!--
    <div class="form-group col-sm-12">
      <label for="picture" class="col-sm-2 control-label">宣传图片</label>
      <div class="col-sm-5">
        <input type="file" class="form-control" name="picture" fileread="community.picture" id="picture">
      </div>
      <label class="control-label remark"><strong>必填，</strong>展示办公场所等（文件需小于5兆）</label>
    </div>
    -->

    <div class="form-group col-sm-12">
      <label class="col-sm-2 control-label">宣传图片</label>
      <div class="col-sm-5">
        <iframe id="fileUpload" class="col-sm-12" src="/uploadFile"></iframe>
      </div>
      <label class="control-label remark"><strong>必填，</strong>展示办公场所等（文件需小于5兆）</label>
    </div>

    <div class="form-group col-sm-12">
      <label for="address" class="col-sm-2 control-label">详细地址</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="address" ng-model="community.address" id="address" placeholder="输入详细地址">
      </div>
      <label class="control-label remark"><strong>必填，</strong>企业或单位办公地点的详细地址</label>
    </div>

    <div class="form-group col-sm-12">
      <label for="phone" class="col-sm-2 control-label">联系电话</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="phone" ng-model="community.phone" id="phone" placeholder="可输入多个电话">
      </div>
      <label class="control-label remark"><strong>必填，</strong>如有多个号码可用逗号或空格分开</label>
    </div>
    <div class="form-group col-sm-12">
      <label for="overview" class="col-sm-2 control-label">概要介绍</label>
      <div class="col-sm-5">
        <textarea rows="8" class="form-control" name="overview" ng-model="community.overview" id="overview" placeholder="输入单位简介"></textarea>
      </div>
      <label class="control-label remark"><strong>必填，</strong>请控制字数在100-200之间</label>
    </div>
  </form>

  <div class="col-sm-12"><hr></div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
      <button ng-disabled="postDisabled()" class="btn btn-primary btn-block" ng-click="postMsg()">发&nbsp;&nbsp;布</button>
    </div>
  </div>

  <div class="col-sm-12"><br></div>

</div>
