<div class="container management">
  <div class="col-sm-12">
    <div class="col-xs-10"><h2>系统管理</h2></div>
    <div class="col-xs-2"><div ng-click="logout()" class="btn btn-default"><i class="fa fa-sign-out fa-2x"></i><br>退出</div></div>
  </div>

  <div class="col-sm-12"><hr>&nbsp;</div>

  <div class="col-sm-12"><h4>招聘求职信息管理</h4></div>

  <div class="col-sm-2 col-sm-offset-1"><a href="#/search/manpower?management" class="btn btn-block btn-default"><i class="fa fa-female fa-4x"></i><br>个人求职</a></div>
  <div class="col-sm-2"><a href="#/search/job?management" class="btn btn-block btn-default"><i class="fa fa-university fa-4x"></i><br>单位招聘</a></div>

  <div class="col-sm-2"><a href="#/search/enterprise?management" class="btn btn-block btn-default"><i class="fa fa-cogs fa-4x"></i><br>企业单位</a></div>
  <div class="col-sm-2"><a href="#/search/worker?management" class="btn btn-block btn-default"><i class="fa fa-users fa-4x"></i><br>人力资源</a></div>

  <div class="col-sm-12"><hr></div>

  <div class="col-sm-12"><h4>就业服务信息管理</h4></div>

  <div class="col-sm-2 col-sm-offset-1"><a href="#/main/news?management" class="btn btn-block btn-default"><i class="fa fa-newspaper-o fa-4x"></i><br>发布新闻</a></div>
  <div class="col-sm-2"><a href="#/message/news?management" class="btn btn-block btn-default"><i class="fa fa-pencil-square-o fa-4x"></i><br>移除新闻</a></div>
  <div class="col-sm-2"><a href="#/manage/community?management" class="btn btn-block btn-default"><i class="fa fa-flag-checkered fa-4x"></i><br>社区信息</a></div>
  <div class="col-sm-2"><a href="#/manage/suggestion?management" class="btn btn-block btn-default"><i class="fa fa-comment-o fa-4x"></i><br>投诉建议</a></div>

  <% if (rights == "administrator") { %>

    <div class="col-sm-12"><hr></div>

    <div class="col-sm-12"><h4>系统信息账号管理</h4></div>
    <div class="col-sm-2 col-sm-offset-1"><a href="#/manage/system?management" class="btn btn-block btn-default"><i class="fa fa-info-circle fa-4x"></i><br>系统信息</a></div>
    <div class="col-sm-2"><a href="#/manage/account?management" class="btn btn-block btn-default"><i class="fa fa-user fa-4x"></i><br>账号管理</a></div>
    <div class="col-sm-2"><a href="#/manage/carousel?management" class="btn btn-block btn-default"><i class="fa fa-image fa-4x"></i><br>轮播图片</a></div>

  <% } %>

  <div class="col-sm-12"><br><hr><br></div>

</div>